<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.firelisten.myapp" version="1.0.0" android-versionCode="1"
xmlns="http://www.w3.org/ns/widgets"
xmlns:cdv="http://cordova.apache.org/ns/1.0">

  <name>Fire Listen</name>
  <description>Built with APK Builder</description>
  <author>APK Builder User</author>

  <content src="index.html" />
  <access origin="*" />

  <!-- PLUGIN WAJIB -->
  <plugin name="cordova-plugin-music-controls2" spec="^3.0.3" />
  <plugin name="cordova-plugin-media" spec="^6.0.0" />

  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="market:*" />

  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-minSdkVersion" value="24" />
  <preference name="android-targetSdkVersion" value="34" />
  <preference name="Fullscreen" value="false" />
  <preference name="Orientation" value="default" />

  <platform name="android">

    <!-- PERMISSION ANDROID 13+ -->
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
      <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
      <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
      <uses-permission android:name="android.permission.WAKE_LOCK"/>
      <uses-permission android:name="android.permission.INTERNET"/>
    </config-file>

    <!-- SERVICE MEDIA PLAYBACK -->
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service 
        android:name="com.cesarferreira.plugin.MusicControlsService"
        android:enabled="true"
        android:exported="false"
        android:foregroundServiceType="mediaPlayback" />
    </config-file>

    <!-- NOTIFICATION ICON (WAJIB PUTIH TRANSPARAN PNG) -->
    <resource-file src="res/notification_icon.png" target="app/src/main/res/drawable/notification_icon.png" />

    <!-- APP ICON -->
    <icon density="ldpi" src="res/icon.png" />
    <icon density="mdpi" src="res/icon.png" />
    <icon density="hdpi" src="res/icon.png" />
    <icon density="xhdpi" src="res/icon.png" />
    <icon density="xxhdpi" src="res/icon.png" />
    <icon density="xxxhdpi" src="res/icon.png" />

  </platform>

</widget>
